<body class="login-page" xmlns:th="http://www.w3.org/1999/xhtml">
<header>
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="../css/user/signup.css">
  <style>
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</header>
<main>
  <div class="login-block">
    <img src=""
         alt="로고">
    <h1>Log into your account</h1>
    <form th:action th:object="${loginDto}" method="post">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope ti-email"></i></span>
          <input type="text" th:field="*{email}" class="form-control"
                 placeholder="Your email address">
          <div class="field-error" th:errors="*{email}" />
        </div>
      </div>
      <hr class="hr-xs">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
          <input type="password" th:field="*{password}" class="form-control"
                 placeholder="Choose a password">
          <div class="field-error" th:errors="*{password}" />
        </div>
      </div>
      <button class="btn btn-primary btn-block" type="submit">log in</button>
      <div class="login-footer">
        <h6>Or register with</h6>
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </form>
  </div>
  <div class="login-links">
    <p class="text-center">처음 이신가요?<a class="txt-brand" href="signup.html">회원가입</a>
    </p>
  </div>
</main>